<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="spydersoft-consulting" value="https://nuget.pkg.github.com/spydersoft-consulting/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="spydersoft-consulting">
      <package pattern="Spydersoft.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
