.ip-group-physical {
  background-color: #2ecc71 !important;
}

.ip-group-virtual {
  background-color: #f8c471 !important;
}

.ip-group-camera {
  background-color: #ec7063 !important;
}

.ip-group-enduser {
  background-color: #48c9b0 !important;
}
